 a {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 8px 16px;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
} 

a:active {
    text-decoration: none;
}

ul {
    list-style: none; 
}


.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #f1f1f1;
    color: black;
}

.round {
    border-radius: 50%;
}

