 a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
} 

a:active {
    text-decoration: none;
}

ul {
    list-style: none; 
}

.btn-link {
    color: white;
}

.btn-group {
    width: 15%;
    display: block;
    margin: 10px;
    text-align: center;
}

#locationdiv {
    margin: auto;
} 

#dayNavId {
    margin: auto;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #f1f1f1;
    color: black;
}

.round {
    border-radius: 50%;
}

