body {
    padding-bottom: 50px;
}

ul {
    list-style: none; 
}

.btn-link {
    color: white;
}

.btn-group {
    width: 50%;
    display: block;
    margin: 10px;
    text-align: center;
}

#dayNavId {
    margin: auto;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #f1f1f1;
    color: black;
}

.round {
    border-radius: 50%;
}
